<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body class="sub_page">
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>

  </div>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Item
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">모두</li>
        <li data-filter=".laptop">노트북</li>
        <li data-filter=".tablet">태블릿</li>
        <li data-filter=".phone">스마트폰</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all laptop" th:each="item : ${items}" >
            <div class="box">
              <div>
                <a th:href="@{/shopping/i_d(id=${item.getIseq()})}">
                <div class="img-box">
                  <img th:with="fileName=${#strings.substringAfter(item.img, '_')}" th:src="@{'/images/' + ${fileName}}" alt="">
                </div>
                </a>
                <div class="detail-box">
                  <h5 th:text="${item.name}">
                    Mac
                  </h5>
                  <div class="options">
                    <h6 th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + ' 원'}">
                    </h6>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end food section -->

  <!-- footer section -->
<div th:replace="fragments/footer :: footerFragment"></div>
  <!-- footer section -->

  <!-- jQery -->
  <script src="/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>