<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/item_detail.css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
  <div class="container">
    <div class="heading-section">
    </div>
    <div th:each="item : ${items}">
      <form method="post" th:action="@{/shopping/itemsBuy}">
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        <div class="row">
          <div class="col-md-6">
            <div id="slider" class="owl-carousel product-slider">
              <div class="item">
                <img th:with="fileName=${#strings.substringAfter(item.img, '_')}" th:src="@{'/images/' + ${fileName}}" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-dtl">
              <div class="product-info">
                <div class="product-name" th:text="${item.name}">Variable Product</div>
                <div class="product-price-discount" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + ' 원'}"><span>$39.00</span>
    <!--              <span class="line-through">$29.00</span>-->
                </div>
              </div>
              <p th:text="${item.detail}"></p>
              <div class="row">
                <div class="col-md-6">
                  <div class="product-option">Size</div>
                  <div class="product-result" th:text="${item.size == 0 ? 'Free' : item.size}">Size</div>
                </div>
                <div class="col-md-6">
                  <div class="product-option">Color</div>
                  <div class="product-result" th:text="${item.color.getName()}">Size</div>
                </div>
              </div>
              <div class="product-count">
                <input type="hidden" name="iseq" th:value="${item.iseq}">
                <div class="product-option">Quantity</div>
                <div class="display-flex">
                  <div class="qtyminus">-</div>
                  <input type="text" name="quantity" value="1" class="qty">
                  <div class="qtyplus">+</div>
                </div>즈
              </div>
              <button type="submit" class="round-black-btn">구매하기</button>
              <a th:href="@{/shopping/cartAdd(itemId=${item.iseq}, quantity=1)}" class="round-black-btn">장바구니에 넣기</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footerFragment"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<script src="/js/item_detail.js"></script>
<script th:if="${errorMessage != null and errorMessage ne ''}" th:inline="javascript">
  alert([[${errorMessage}]]);  // 에러 메시지가 존재하고 비어있지 않을 경우 경고창을 띄움
</script>
<script>
  function addToCart() {
    var quantity = document.getElementById("quantity").value; // 수량 값 가져오기
    document.getElementById("quantityInput").value = quantity; // 수량 값을 숨겨진 input에 설정
    document.getElementById("addToCartForm").action = "/shopping/cartAdd"; // 액션 변경
    document.getElementById("addToCartForm").submit(); // 폼 제출
  }
</script>
</body>
</html>