<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" href="/css/pageable.css" />
  <link rel="stylesheet" type="text/css" href="/css/search.css" />
</head>

<body class="sub_page">
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>

  </div>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <!-- 카테고리, 검색 -->
      <div class="row">
        <div class="col-1">
          <label for="itemColor">C o l o r</label>
        </div>
        <div class="col-4">
          <select name="itemColor" id="itemColor" class="category">
            <option value="">컬러 선택</option>
            <th:block th:each="color : ${itemColors}">
              <option th:value="${color}" th:text="${color.getName()}" th:selected="${color == selectColor}"></option>
            </th:block>
          </select>
        </div>

        <div class="search">
          <form th:action="@{/shopping/search}" method="get">
            <input type="text" name="keyword" placeholder="검색어 입력">
            <button type="submit">
              <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </button>
            <input type="hidden" id="category" name="category" th:value="${category}">
          </form>
        </div>
      </div>
      <div class="filters-content">
        <!-- 아이템 목록 출력 -->
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all laptop" th:each="item : ${items.content}">
            <div class="box">
              <div>
                <a th:href="@{/shopping/i_d(id=${item.getIseq()})}">
                  <div class="img-box">
                    <img th:with="fileName=${#strings.substringAfter(item.img, '_')}" th:src="@{'/images/' + ${fileName}}" alt="">
                  </div>
                </a>
                <div class="detail-box">
                  <h5 th:text="${item.name}">
                    Mac
                  </h5>
                  <div class="options">
                    <h6 th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + ' 원'}">
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 페이징 링크 출력 -->
        <div th:if="${items.totalPages > 1}">
          <ul class="pagination">
            <li th:class="${items.first ? 'disabled' : ''}">
              <a th:href="@{/shopping/categoryItem(category=${category}, page=0)}">처음</a>
            </li>
            <!-- 페이지 번호 출력 -->
            <th:block th:each="pageNum : ${#numbers.sequence(1, items.totalPages)}">
              <li th:class="${pageNum == items.number + 1 ? 'active' : ''}">
                <a th:href="@{/shopping/categoryItem(category=${category}, page=${pageNum - 1})}" th:text="${pageNum}"></a>
              </li>
            </th:block>
            <li th:class="${items.last ? 'disabled' : ''}">
              <a th:href="@{/shopping/categoryItem(category=${category}, page=${items.totalPages - 1})}">마지막</a>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </section>

  <!-- end food section -->

  <!-- footer section -->
<div th:replace="fragments/footer :: footerFragment"></div>
  <!-- footer section -->

  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- custom js -->
  <script src="/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

<script src="/js/itemCategory.js"></script>
<script th:inline="javascript">

  $(document).ready(function(){
    var errorMessage = [[${errorMessage}]];
    if(errorMessage != null){
      alert(errorMessage);
    }
  });
</script>
</body>

</html>