<!DOCTYPE html>
<html>
<head>
</head>
<body class="sub_page">
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>
<link rel="stylesheet" type="text/css" href="/css/sidebar.css" />



<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="heading_container">
          <h2> 배송지 관리 </h2>
        </div>
        <div class="form_container">
          <table>
            <colgroup>
              <col class="select">
              <col class="no">
              <col class="title">
              <col class="writer">
              <col class="date">
            </colgroup>
            <thead>
            <tr>
              <th><input class="check all" type="checkbox" onclick="checkAll(this)"></th>
              <th>배송지 이름</th>
              <th>주소</th>
              <th>받는사람</th>
              <th>연락처</th>
              <th>수정</th>
              <th>기본 배송지</th>
            </tr>
            </thead>
            <tbody th:each="addlist : ${list}">
            <tr>
              <td><input class="check" type="checkbox"></td>
              <td th:text="${addlist.title}">우리집</td>
              <td th:text="${addlist.address.city}">서울시 광진구 천호대로 122길 17-6, 501호</td>
              <td th:text="${addlist.address.name}">신예희</td>
              <td th:text="${addlist.address.phone}">010-2307-4754</td>
              <td> <a href="#">수정</a> </td>
              <td>
                <a th:text="${addlist.basic == T(com.shopping.hee.domain.Enum.YesNo).YES ? 'O' : '기본 배송지로 설정'}" th:href="@{/member/default(id=${addlist.getMaseq()})}"></a>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="txt addDelete">
              <a href="/member/myAddress" style="background-color: #ffbe33">추가하기</a>
            </div>
            <div class="txt addDelete">
              <a href="#">삭제하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

<div th:replace="fragments/footer :: footerFragment"></div>


<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="/js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>
<script src="/js/board.js"></script>

<script>
  function checkAll(source) {
    var checkboxes = document.querySelectorAll('.check');
    checkboxes.forEach(function(checkbox) {
      checkbox.checked = source.checked;
    });
  }
</script>
<script>
  window.onload = function() {
    var table = document.querySelector('table');
    var rows = table.querySelectorAll('tbody tr');

    var targetRow = null;

    // '기본 배송지'가 'O'인 행을 찾음
    rows.forEach(function(row) {
      var basicCell = row.querySelector('td:last-child');
      var text = basicCell.textContent.trim();
      if (text === 'O') {
        targetRow = row;
      }
    });

    // 찾은 행을 테이블의 첫 번째 위치로 이동
    if (targetRow !== null) {
      table.querySelector('tbody').insertBefore(targetRow, table.querySelector('tbody').firstChild);
    }
  };
</script>


</body>

</html>