<!DOCTYPE html>
<html>
<head>
</head>
<body class="sub_page">
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>
<link rel="stylesheet" type="text/css" href="/css/sidebar.css" />



<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="heading_container">
          <h2> 배송지 관리 </h2>
        </div>
        <div class="form_container">
          <table>
            <colgroup>
              <col class="select">
              <col class="no">
              <col class="title">
              <col class="writer">
              <col class="date">
            </colgroup>
            <thead>
            <tr>
              <th><input class="check all" type="checkbox" onclick="checkAll(this)"></th>
              <th>배송지 이름</th>
              <th>주소</th>
              <th>받는사람</th>
              <th>연락처</th>
              <th>수정</th>
              <th>기본 배송지</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input class="check" type="checkbox"></td>
              <td>우리집</td>
              <td><a href="#">서울시 광진구 천호대로 122길 17-6, 501호</a></td>
              <td>신예희</td>
              <td>010-2307-4754</td>
              <td> <a href="#">수정</a> </td>
              <td> <a href="#"> O </a> </td>
            </tr>
            <tr>
              <td><input class="check" type="checkbox"></td>
              <td>우리집</td>
              <td><a href="#">서울시 광진구 천호대로 122길 17-6, 501호</a></td>
              <td>신예희</td>
              <td>010-2307-4754</td>
              <td> <a href="#">수정</a> </td>
              <td> <a href="#"> 기본 값으로 설정 </a> </td>
            </tr>
            </tbody>
          </table>

          <button>삭제하기</button>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

<div th:replace="fragments/footer :: footerFragment"></div>


<!-- jQery -->
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="/js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>
<script src="/js/board.js"></script>

<script>
  function checkAll(source) {
    var checkboxes = document.querySelectorAll('.check');
    checkboxes.forEach(function(checkbox) {
      checkbox.checked = source.checked;
    });
  }
</script>

</body>

</html>