<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" type="text/css" href="/css/hee.css" />

</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

<div class="wrap">
  <div class="greenContainer">
    <div>
<!--      <div class="grade">GOLD</div>-->
      <div class="name" th:text="${nowMember.name}">이름</div>
    </div>
    <div class="modify">
      <a href="/member/logout" class="logout-btn">로그아웃</a>
    </div>
  </div>
  <div class="shippingStatusContainer">
    <div class="title">
      주문/배송조회
    </div>
    <div class="status">

      <a href="#" class="item">
        <div>
          <div class="green number">6</div>
          <div class="text">장바구니</div>
        </div>
        <div class="icon"> > </div>
      </a>
      <a href="#" class="item">
        <div>
          <div class="number">0</div>
          <div class="text">결제완료</div>
        </div>
        <div class="icon"> > </div>
      </a>
      <a href="#" class="item">
        <div>
          <div class="green number">1</div>
          <div class="text">배송중</div>
        </div>
        <div class="icon"> > </div>
      </a>
      <a href="#" class="item">
        <div>
          <div class="green number">3</div>
          <div class="text">배송완료</div>
        </div>
      </a>

    </div>

  </div>
  <div class="listContainer">
    <a href="/member/o_l" class="item">
      <div class="icon">ii</div>
      <div class="text">주문목록</div>
      <div class="right"> > </div>
    </a>
    <a href="/shopping/askCheck" class="item">
      <div class="icon">ii</div>
      <div class="text">문의내역</div>
      <div class="right"> > </div>
    </a>
    <a href="/member/myadd" class="item">
      <div class="icon">ii</div>
      <div class="text">배송지 관리</div>
      <div class="right"> > </div>
    </a>
  </div>
  <div class="listContainer">
    <a href="/member/memEdit" class="item">
      <div class="icon">ii</div>
      <div class="text">정보 수정</div>
      <div class="right"> > </div>
    </a>
  </div>
</div>
<div th:replace="fragments/footer :: footerFragment"></div>

</body>
</html>