<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="css/login2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Title</title>
</head>
<body>

<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Responsive Login Form</h2>
    </div>
    <div class="row clearfix">
      <div class="col_half">
        <div class="social_btn fb"><a href="#"><span><i class="fab fa-facebook" aria-hidden="true"></i></span>Sign in with Facebook</a></div>
        <div class="social_btn tw"><a href="#"><span><i class="fab fa-twitter" aria-hidden="true"></i></span>Sign in with Twitter</a></div>
        <div class="social_btn gplus"><a href="#"><span><i class="fab fa-google-plus" aria-hidden="true"></i></span>Sign in with Google+</a></div>
        <div class="row clearfix create_account">
          <div><a href="#">Create an Account</a></div>
        </div>
      </div>
      <div class="col_half last">
        <form>
          <div class="input_field"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input type="email" name="email" placeholder="Email" required=""/>
          </div>
          <div class="input_field"><span><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" name="phone" placeholder="Password" required=""/>
          </div>
          <input class="button" type="submit" value="Sign in"/>
          <div class="row clearfix bottom_row">
            <div class="col_half remember_me">
              <input name="" type="checkbox" value=""/>              Remember me
            </div>
            <div class="col_half forgot_pw"><a href="#">Forgot Password?</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p class="credit">Developed by <a href="http://www.designtheway.com/responsive-login-form/" target="_blank">Design the way</a></p>


</body>
</html>