<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/login2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Title</title>
</head>
<body>

<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>로 그 인</h2>
    </div>
    <div class="row clearfix">
        <form action="member/login" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
          <div class="input_field"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input type="email" id="email" name="email" placeholder="Email" required />
          </div>
          <div class="input_field"><span><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" id="pwd" name="pwd" placeholder="Password" required />
          </div>
          <input class="button" type="submit" value="로그인"/>
          <div class="row clearfix bottom_row">
<!--            <div class="col_half forgot_pw"><a href="#">Forgot Password?</a></div>-->
              <div><a href="/member/join">Create an Account</a></div>
          </div>
        </form>
    </div>
  </div>
</div>


</body>
</html>