body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: auto;
}

.form-group {
    margin: 15px 0;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group select {
    height: 60%;
}

.form-group input[type="number"]{
    width: 25%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group.mine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group.mine label {
    margin-right: 10px;
}

.form-group.mine input.gap {
    margin-right: 30px;
}

.form-group input[type="file"] {
    padding: 5px;
}
.form-group input[type="submit"] {
    padding: 10px 20px;
    background: #50b3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background: #43927e;
}

.form-group.delete_mem {
    padding: 10px 20px;
    text-align: right;
}

.form-group.delete_mem a{
    color: red;
    text-decoration: underline;
}

.findZipcode {
    margin-top: 26px;
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.radio-inline {
    display: inline-block;
}

.radio-label {
    margin-right: 10px;
    vertical-align: middle;
}

.toggle_check {
    transform: scale(1.5); /* 크기 조정 */
}

label.custom_lbl {
    margin-bottom: 15px;
    margin-left: 10px;
}

.basic_yesno {
    margin-left: 20px;
}