/* 노말라이즈 */
body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

.product_img {
    width:100px;
    height: 100px;
}

.address {
    color: white;
    background-color: black;
}
input[type=number] {
    max-width: 60px;
    min-width: 40px; /* 입력 필드의 최소 너비 */
}

dd.myTitle {
    text-align: center;
    pointer-events: none;
}

.orderInfo {
    font-size: 20px;
}