body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#page-content-wrapper {
    padding: 20px;
}

.sidebar {
    list-style-type:none;
    background-color:black;
    width:230px;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    text-align:left;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    transition:1s ease;
}

.sidebar a {
    text-decoration:none;
    color:white;
    transition:1s ease;
}

.sidebar li {
    text-indent: 20px;
    line-height: 40px;
    transition:0.5s ease;
}

.sidebar li:hover {
    background-color:#777;
    cursor:pointer;
    text-indent: 30px;
}

/* 게시판 css */
/* 링크 색상 (중요하지 않음) */
a {
    text-decoration: none;
    color: #333;
}
a:hover {color: #6199ff;}

/* 테이블 색상 (중요하지 않음) */
table {
    width: auto; /* 테이블 너비를 자동으로 조절하도록 변경 */
    min-width: 100%; /* 최소 너비 설정 */
    max-width: 1000px; /* 최대 너비 설정 */
    margin: 40px auto 10px;
    border-collapse: collapse;
    overflow-x: auto; /* 가로 스크롤이 필요한 경우를 위해 가로 오버플로우 설정 */
    box-sizing: border-box; /* 테이블 너비가 요소의 전체 너비를 초과하지 않도록 상자 크기를 조정 */
    height: 100%;
}
th {
    background: #222831;
    color: #fff;
}
td, th {
    border: 1px solid #dbdbdb;
    padding: 5px 20px;
    font-size:18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    text-align: center;
}

/* 체크박스의 크기 */
.check {
    width:15px;
    height:15px;
}

/* 컬럼의 너비 */
.select {width: 3%;}
.no {width: 9%;}
.title {/* 나머지가 자동으로 맞춰집니다. */}
.writer {width: 20%;}
.date {width: 15%;}

/* 컬럼의 정렬 */
tr td:nth-child(1){text-align:center;}
tr td:nth-child(2){text-align:center;}
tr td:nth-child(3){text-align:left;}
tr td:nth-child(4){text-align:center;}
tr td:nth-child(5){text-align:center;}

/* 페이징 버튼 */
.page-box {
    width: 80%;
    margin: 5px auto;
    height: 30px;
    text-align: center;
}
.page-box a.btn {
    display:inline-block;
    padding: 3px 5px;
    font-size: 10px;
    border: 1px solid #dbdbdb;
    color: #333;
}
.page-box a.btn.on {
    background-color: #dbdbdb;
}

textarea.ask_content {
    height: 380px;
}

.ask_title {
    height: 50px;
}

thead {
    text-align: center;
}

.addDelete {
    padding: 0px 10px;
    text-align: right;
}

.addDelete a {
    /*color: red;*/
    /*text-decoration: underline;*/
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #FF6666;
    color: #ffffff;
    border-radius: 45px;
    transition: all 0.3s;
    border: none;
}

.txt {
    text-align: right;
}