<!DOCTYPE html>
<html>
<head>
</head>
<body class="sub_page">
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>
<link rel="stylesheet" type="text/css" href="/css/sidebar.css" />


<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="row">
        <div class="sidebar">
          <li><a href=ask>1:1 문의하기</a></li>
          <li><a href="askCheck">문의 내역 확인</a></li>
        </div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="heading_container">
          <h2> 문의하기 </h2>
        </div>
        <div class="form_container">
          <form action="/shopping/ask" method="post" th:object="${ask}">
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            <div>
              <input type="text" th:field="*{title}" class="form-control ask_title" placeholder="제목" />
            </div>
            <div>
              <textarea th:field="*{content}" class="form-control ask_content" required="" placeholder="내용"></textarea>
            </div>

            <div class="btn_box">
              <button type="submit">
                문의하기
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

<div th:replace="fragments/footer :: footerFragment"></div>



<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="/js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>