<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css" />
</head>
<body class="sub_page">
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>



<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="row">
        <div class="sidebar">
          <li><a href="/shopping/ask">1:1 문의하기</a></li>
          <li><a href="/shopping/askCheck">문의 내역 확인</a></li>
        </div>
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div class="heading_container">
          <h3> 문의내역 확인 </h3>
        </div>
        <div class="form_container">
          <table>
            <colgroup>
              <col class="select">
              <col class="no">
              <col class="title">
              <col class="writer">
              <col class="date">
            </colgroup>
            <thead>
            <tr>
              <th><input class="check all" type="checkbox"></th>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input class="check" type="checkbox"></td>
              <td>1</td>
              <td><a href="#">글의 제목 - 1</a></td>
              <td>거북이</td>
              <td>2019.10.14</td>
            </tr>
            <tr>
              <td><input class="check" type="checkbox"></td>
              <td>2</td>
              <td><a href="#">글의 제목 - 2</a></td>
              <td>거북이</td>
              <td>2019.10.14</td>
            </tr>
            <tr>
              <td><input class="check" type="checkbox"></td>
              <td>3</td>
              <td><a href="#">글의 제목 - 3</a></td>
              <td>거북이</td>
              <td>2019.10.14</td>
            </tr>
            </tbody>
          </table>
          <div class="page-box">
            <a class="btn" href="#">&lt;&lt;</a>
            <a class="btn" href="#">&lt;</a>

            <!--  숫자 버튼  -->
            <a class="btn number" href="#">1</a>
            <a class="btn number" href="#">2</a>
            <a class="btn number on" href="#">3</a>
            <a class="btn number" href="#">4</a>
            <a class="btn number" href="#">5</a>

            <a class="btn" href="#">&gt;</a>
            <a class="btn" href="#">&gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

<div th:replace="fragments/footer :: footerFragment"></div>



<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="/js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>
<script src="/js/board.js"></script>

</body>

</html>