<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="css/ItemAdd.css" />
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>

  <div class="container"><br>
    <h1>상품 등록</h1>
  </div>
<div class="container">
  <form action="itemAdd" method="post" th:object="${item}" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="form-group">
      <label for="name">상품명</label>
      <input type="text" th:field="*{name}" id="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="detail">상품 설명</label>
      <textarea id="detail" th:field="*{detail}" name="detail" required=""></textarea>
    </div>
    <div class="form-group">
      <label for="color">소재</label>
        <select id="color" name="color" th:field="*{color}" required>
          <option value="">소재 선택</option>
          <option th:each="itemColor : ${T(com.shopping.hee.domain.ItemColor).values()}"
                  th:value="${itemColor}"
                  th:text="${itemColor.name}">
          </option>
        </select>
      <label for="color">소재</label>
      <select id="category" name="category" th:field="*{category}" required>
        <option value="">소재 선택</option>
        <option th:each="category : ${T(com.shopping.hee.domain.Category).values()}"
                th:value="${category}"
                th:text="${category.name}">
        </option>
      </select><br><br>
    </div>
    <div class="form-group mine">
      <label for="price">상품 가격</label>
      <input class="gap" th:field="*{price}" type="number" id="price" name="price" required />

      <label for="count">재고</label>
      <input class="gap" th:field="*{count}" type="number" id="count" name="count" required />

      <label for="size">사이즈</label>
      <input type="number" th:field="*{size}" id="size" name="size" required />cm
    </div><br>
    <div class="form-group">
      <label for="img">상품 이미지</label>
      <input type="file" id="img" name="img" accept=".png, .jpg, .jpeg" required />
    </div><br>
    <div class="form-group">
      <input type="submit" value="상품 등록" />
    </div>
  </form>
</div>


<div th:replace="fragments/footer :: footerFragment"></div>


<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<script src="js/board.js"></script>
<script th:inline="javascript">

  $(document).ready(function(){
    var errorMessage = [[${errorMessage}]];
    if(errorMessage != null){
      alert(errorMessage);
    }
  });
</script>
</body>
</html>