<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/login.css">
  <title>Document</title>
  <style>
    .fieldError {
      color: #bd2130;
    }
  </style>
</head>
<body>

<p class="tip">Market</p>
<div class="cont">
  <div class="form sign-in">
    <h2>환영합니다</h2>
    <label>
      <span>ID</span>
      <input type="email" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" />
    </label>
    <p class="forgot-pass">비밀번호를 잊었나요?</p>
    <button type="button" class="submit">로그인</button>
    <button type="button" class="fb-btn">Connect with <span>kakako</span></button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>새로 오셨나요?</h2>
        <p>가입하고 상품들을 구경해보세요!</p>
      </div>
      <div class="img__text m--in">
        <h2>회원인가요?</h2>
        <p>이미 계정이 있다면 로그인 하면 됩니다!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">회원가입</span>
        <span class="m--in">로그인</span>
      </div>
    </div>
    <form action="join2" method="post" th:object="${member}">
      <p th:if="${errorMessage}" th:text="${errorMessage}" class="fieldError"></p>
      <div class="form sign-up">
        <h2>회원가입</h2>
        <label>
          <label th:for="name">이름</label>
          <input type="text" id="name" name="name" th:field="*{name}" />
          <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
        </label>
        <label>
          <span th:for="email">Email</span>
          <input type="email" id="email" name="email" th:field="*{email}" />
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
        </label>
        <label>
          <span th:for="pwd">Password</span>
          <input type="password" id="pwd" name="pwd" th:field="*{pwd}" />
          <p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}" class="fieldError">Incorrect data</p>
        </label>
        <label>
          <span th:for="phone">번호</span>
          <input type="text" id="phone" name="phone" th:field="*{phone}" />
          <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError">Incorrect data</p>
        </label>
        <button type="submit" class="submit">회원가입</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <!--        <button type="button" class="fb-btn">Join with <span>kakao</span></button>-->
      </div>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="js/login.js"></script>
<script th:inline="javascript">

  $(document).ready(function(){
    var errorMessage = [[${errorMessage}]];
    if(errorMessage != null){
      alert(errorMessage);
    }
  });
</script>
</body>
</html>
