<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/login.css">
  <title>Document</title>
</head>
<body>

<p class="tip">Market</p>
<div class="cont">
  <div class="form sign-in">
    <h2>환영합니다</h2>
    <label>
      <span>ID</span>
      <input type="email" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" />
    </label>
    <p class="forgot-pass">비밀번호를 잊었나요?</p>
    <button type="button" class="submit">로그인</button>
    <button type="button" class="fb-btn">Connect with <span>kakako</span></button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>새로 오셨나요?</h2>
        <p>가입하고 상품들을 구경해보세요!</p>
      </div>
      <div class="img__text m--in">
        <h2>회원인가요?</h2>
        <p>이미 계정이 있다면 로그인 하면 됩니다!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">회원가입</span>
        <span class="m--in">로그인</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>회원가입</h2>
      <label>
        <span>이름</span>
        <input type="text" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" />
      </label>
      <button type="button" class="submit">회원가입</button>
      <button type="button" class="fb-btn">Join with <span>kakao</span></button>
    </div>
  </div>
</div>

<script src="js/login.js"></script>
</body>
</html>
